@font-face{
	font-family: Hynings;
	src: url(fonts/HyningsHandwriting-Regular.ttf) format('truetype');
	/* https://www.dafont.com/fr/Hynings-handwriting.font */
}

@font-face{
    font-family: HeydingsIcons;
    src: url(fonts/heydings-icons.ttf) format('truetype');
	/* https://www.dafont.com/heydings-icons.font */
}

body{
	margin: 0;
	font-size: 16px;
	background: linear-gradient(to bottom right, #452A22, #E74822) fixed;
}

header{
	width: 100%;
}

#articles{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#preview{
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
}

.text{
	margin: 10px 3vw 0 3vw; 
	color: #FFFFFF;
	font-size: 3em;
}

.title{
	font-family: Hynings;
	cursor: default;
}

.icons{
	font-family: HeydingsIcons;
	cursor: pointer;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clearBoth{
	clear: both;
}

a{
	margin: 2vw;
	color: #000000;
	border: 5px solid red;
	text-decoration: none;
}

::-webkit-scrollbar{
	display: none;
}

.polaroid{
	display: flex;
	flex-direction: column;
	width: 18vw;
	height: 24vw;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	border: 10px solid #FFFFFF;
	background-color: #FFFFFF;
}

.polaroid img{
	width: 100%;
	height: 75%;
	outline: 1px solid #000000;
	transition: ease-in-out .5s filter;
	background-color: #000000;
}

.polaroid:hover img{
	transition: ease-in-out .5s filter;
	filter: grayscale(1);
}

.polaroid p{
	text-align: center;
	font-family: Hynings, 'Times New Roman', serif;
	margin: auto;
	font-weight: bold;
}

@media screen and (orientation: portrait){
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.polaroid{
		width: 60vw;
		height: 80vw;
		margin: 5vw;
	}

	.polaroid p{
		font-size: 1.5em;
	}
}

@media screen and (min-width: 1000px){
	.polaroid p{
		font-size: 1.5em;
	}
}

.tl{
	object-fit: cover;
	object-position: top left;
}

.tr{
	object-fit: cover;
	object-position: top right;
}

.bl{
	object-fit: cover;
	object-position: bottom left;
}

.br{
	object-fit: cover;
	object-position: bottom right;
}

.center{
	object-fit: cover;
}